{% extends 'base.html' %}
{% block content %}
    {% comment %} {{ status }} {% endcomment %}
    <div class="row center">
        <div class="col m12 s12">
            {{ plot|safe|escape }}
        </div>
    </div>
{% endblock %}