<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Lorem ipsum</h5>
                <p class="grey-text text-lighten-4">Dolor sit amet, consectetur adipiscing elit.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Zerknij</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="/">Home</a></li>
                    <li><a class="grey-text text-lighten-3"  href="{% url 'statistic:statistic.simply_grow' %}">Statystyki</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">© {% now "Y" %}  PyBanda</div>
    </div>
</footer>