<div class="row center">
  <h1 class="red-text text-darken-1">COVID-19</h1>
  <h2 class="red-text text-lighten-2">Statystyki</h2>
</div>
<div class="row">
  <div class="col m6 s12">
      <div class="row">
        <div class="collection">
          <div class="collection-item">
            <span class="badge blue-text js-api-item-count" data-badge-caption="">{{ api_item_count }}</span>Rekordów w API
          </div>
          <div class="collection-item">
            <span class="badge red-text js-db-item-count" data-badge-caption="">{{ db_item_count }}</span>Rekordów w bazie
            <div class="progress hide">
              <div class="indeterminate"></div>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="col m5 s12 offset-m1">
    <div class="row">
      <a href="#modal-get-from-api" class="btn modal-trigger waves-effect waves-light"><i class="material-icons left">add_circle_outline</i>Pobierz brakujące dane</a>  
      <div id="modal-get-from-api" class="modal">
        <div class="modal-content">
          <h4>Pobranie danych z 
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" height="25" style="0:e;1:n;2:a;3:b;4:l;5:e;6:-;7:b;8:a;9:c;10:k;11:g;12:r;13:o;14:u;15:n;16:d;17::;18:n;19:e;20:w;21:;22:0;23:;24:0;25:;26:5;27:1;28:2;29:;30:1;31:3;32:5;33:.;34:3;35:;" viewBox="0 0 512 135.3" class="ApifyLogo__StyledSvg-d4ej11-0 hzikUH"><g><path class="left-rectangle" d="M16.6,12.6C6,14.1-1.3,23.8,0.2,34.3l11.4,81.2L59.3,6.6L16.6,12.6z"></path><path class="middle-rectangle" d="M131.8,80.2l-4.5-62.4c-0.8-10.6-10-18.5-20.5-17.8c-0.4,0-0.9,0.1-1.3,0.1L87.1,2.7l40.5,90.9C130.6,89.9,132.1,85.1,131.8,80.2z"></path><path class="right-rectangle" d="M28.9,135.2c3.3,0.4,6.6-0.1,9.6-1.4l69.5-29.4L75,30.2L28.9,135.2z"></path><path class="logo-text" d="M189.3,26.4h21.9l30.7,82.4h-19.6L216.5,92h-33.1l-5.8,16.9h-19.1L189.3,26.4z M188.3,77.4h23.3l-11.3-33.8h-0.5L188.3,77.4z"></path><path class="logo-text" d="M330,26.4h18.6v82.4H330V26.4z"></path><path class="logo-text" d="M362.6,26.4h60.3v15.2h-41.7v23.1h33.6v14.8h-33.6v29.2h-18.6V26.4z"></path><path class="logo-text" d="M461,77.6l-30.9-51.2h21.1l19.3,33.9h0.5l20.2-33.9H511l-31.3,51v31.4H461V77.6z"></path><path class="logo-text" d="M290.1,26.4h-41v82.4h18.6V82.8h22.5c15.6,0,28.2-12.6,28.2-28.2S305.7,26.4,290.1,26.4C290.1,26.4,290.1,26.4,290.1,26.4z M288.1,68.3h-20.4V40.9h20.4c7.5,0.1,13.6,6.3,13.5,13.9C301.4,62.2,295.4,68.1,288.1,68.3L288.1,68.3z"></path></g></svg>
          </h4>
          <p>Z uwagi na możliwość pobrania dużej ilości danych, proces ten może potrwać parę minut. Po jego zakończeniu zostanie wyświetlona informacja.</p>
        </div>
        <div class="modal-footer">
          <button href="#" class="modal-close waves-effect waves-red btn-flat">Rezygnuję</button>
          <a href="#" class="modal-close waves-effect waves-red btn-flat js-get-from-api">Pobieram</a>
        </div>
      </div>
    </div>
    <div class="row">
      <a href="#modal-delete-from-db" class="btn modal-trigger waves-effect waves-light"><i class="material-icons left">delete_forever</i>Usuń wszystkie dane</a>  
      <div id="modal-delete-from-db" class="modal">
        <div class="modal-content">
          <h4>Usuwanie danych z API z bazy danych</h4>
          <p>Usunięcie danych jest bezpowrotne*.</p>
          <p><small>* Oczywiście można je pobrać ponownie.</small></p>
        </div>
        <div class="modal-footer">
          <button href="#" class="modal-close waves-effect waves-red btn-flat">Rezygnuję</button>
          <a href="#" class="modal-close waves-effect waves-red btn-flat js-delete-from-db">Usuwam</a>
        </div>
      </div>
    </div>        
  </div>
</div>