<header>
    <nav class="nav-wrapper">
        <a href="/" class="brand-logo center">        
            <svg enable-background="new 0 0 511.999 511.999" version="1.1" viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" style="height: 30px;fill: white;">		
            <path d="m422.86 451.17c-0.147 0.147-0.293 0.293-0.437 0.436l-0.423 0.423c0.304-0.303 0.588-0.587 0.86-0.859z"/>
            <path d="m426.14 447.9-0.334 0.334s-0.24 0.24-0.367 0.367c0.275-0.274 0.499-0.498 0.701-0.701z"/>
            <path d="m427.11 446.93-0.081 0.081 0.081-0.081z"/>
            <path d="m420.87 453.16-0.58 0.58c0.196-0.196 0.393-0.394 0.58-0.58z"/>
            <path d="m471.54 227.52v8.251h-48.783c-3.762-31.193-16.097-59.783-34.586-83.329l34.545-34.545 5.836 5.836c18.875 18.875 47.498-9.726 28.61-28.61l-3.604-3.604 0.189 0.189-36.866-36.866c-18.9-18.9-47.538 9.685-28.61 28.61l5.836 5.836-34.545 34.545c-23.546-18.49-52.137-30.825-83.329-34.586v-48.783h8.251c26.733 0 26.761-40.461 0-40.461h-56.964c-26.733 0-26.761 40.461 0 40.461h8.251v48.783c-31.193 3.762-59.783 16.097-83.329 34.586l-34.546-34.545 5.836-5.836c18.905-18.901-9.686-47.533-28.61-28.61l-40.281 40.281c-18.905 18.902 9.763 47.459 28.61 28.61l5.836-5.836 34.545 34.545c-18.49 23.546-30.825 52.137-34.586 83.329h-48.784v-8.251c0-26.733-40.461-26.761-40.461 0v56.964c0 26.733 40.461 26.761 40.461 0v-8.251h48.783c3.762 31.193 16.097 59.783 34.586 83.329l-34.545 34.545-5.836-5.836c-18.901-18.899-47.539 9.685-28.61 28.61l40.281 40.281c18.9 18.9 47.541-9.682 28.61-28.61l-5.836-5.836 34.545-34.545c23.546 18.49 52.136 30.825 83.329 34.586v48.783h-8.251c-26.733 0-26.761 40.461 0 40.461h56.964c26.733 0 26.761-40.461 0-40.461h-8.251v-48.783c31.193-3.762 59.783-16.097 83.329-34.586l34.545 34.545-5.836 5.836c-18.905 18.902 9.763 47.457 28.61 28.61l40.28-40.28c18.905-18.901-9.686-47.533-28.61-28.61l-5.836 5.836-34.545-34.545c18.49-23.546 30.825-52.136 34.586-83.329h48.783v8.251c0 26.733 40.461 26.761 40.461 0v-56.964c3e-3 -26.734-40.458-26.761-40.458-1e-3zm-251.97 41.443c-24.636 0-44.607-19.972-44.607-44.607s19.972-44.607 44.607-44.607 44.607 19.972 44.607 44.607-19.971 44.607-44.607 44.607zm72.856 50.975c-15.192 0-27.507-12.315-27.507-27.507s12.315-27.507 27.507-27.507 27.507 12.315 27.507 27.507-12.315 27.507-27.507 27.507z"/>
            <path d="m421.22 452.82 0.783-0.783-0.783 0.783z"/></svg>
        </a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">reorder</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            {% include 'partials/menu-positions.html' %}
        </ul>
    </nav>
    <ul class="sidenav" id="mobile-demo">
        {% include 'partials/menu-positions.html' %}
    </ul>
</header>