<li class="{% if request.resolver_match.url_name == "index" %}active{% endif %}">
    <a href="/">Home</a>
</li>
<li class="{% if request.resolver_match.url_name == "statistic.simply_grow" %}active{% endif %}">
    <a href="{% url 'statistic:statistic.simply_grow' %}">Statystyki</a>
</li>