{% spaceless %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="pl">

<head>
  <meta charset="utf-8">
  <title>COVID-19 {% block title %}{% endblock %}</title>
  <meta name="description" content="COVID-19 statistics">
  <meta name="viewport" content="width=device-width, initial-scale=1"> 
  <link rel="apple-touch-icon" href="/static/bundles/images/apple-touch-icon.png">
  <link rel="shortcut icon" href="/static/bundles/images/favicon.ico"/>
  {% render_bundle 'main' 'css' %}
</head>

<body>
  {% include 'partials/menu.html' %}
  <main class="container">
    {% block content %}
      {% include 'partials/main.html' %}
    {% endblock %}
  </main>
  {% include 'partials/footer.html' %}
  {% render_bundle 'main' 'js' %}
</body>

</html>
{% endspaceless %}